.clearfix {
  overflow: auto;
}
.menu {
  
  top: 0;
  width: 100%;
}
.menu .links ul a {
	float: left;
	display: inline-block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 17px;
	color: black;


}
.menu .links ul a:last-child{
	background: red;

	

}
.menu .logo {
	float: right;
}
.contact h1{
	color: white;
	background: black;
	padding: 20px;
}
.contact h3 span{
	color: red;
}


* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("banner-img.png");
  min-height: 480px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;}

div.foot{
	width: 100%;
	background: #ddd;
	float: left;
}

.foot .copy{
	float: left;



}
.foot .link{
	float: right;
}
.foot .link ul li{
	display: inline-block;
	padding-right: 10px;
}

.footer{
	background: black;
	height: 350px;
}

.footer .col1{
	width: 30%;
	padding-left: 10px;
	float: left;
}



.footer .col1 img{
	padding: 10px;
	
}

.footer .col1 p{
	color: white;
}
.footer .col1 h4{
	color: white;
}

.footer .col2{
	float: left;
	padding: 20px;
	padding-left: 60px;
}
.footer .col2 p{
	color: white;
}
.footer .col2 h4{
	color: white;
}
.footer .col3{
	width: 30%
	float: left;
	
}
.footer .col3 h4{
	padding-top: 35px;
	color: white;

}
